.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #5c0668;
    color: white;
    text-align: center;
}

.navbar{
    background-color: #5c0668;
}
.footer-content{
    margin: 10px;
}
