@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.owl-theme .owl-controls .owl-page.active span {
    background-color: red;
    border: 2px solid red;
}

.owl-theme .owl-controls .owl-page span {
    border: 2px solid red;
}
